@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "colgent";
  src: url("./assets/font/colgent_regular-webfont.woff2") format("woff2"),
    /* Modern Browsers */ url("./assets/font/colgent_regular-webfont.woff")
      format("woff"); /* Older Browsers */
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

.h-text {
  font-family: "colgent", sans-serif;
}

.p-text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.pry-bg {
  background: #f38120;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://res.cloudinary.com/dshuchoca/image/upload/v1749055807/twinny/reception/Reception_2_lbgegf.jpg");
  background-color: black;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: url("./assets/images/hero_bg_2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
